[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sensR"]
	path = sensR
	url = https://github.com/aigorahub/sensr
	subdir = sensR
